.hamburger:hover > div:nth-child(1) {
  background-color: ghostwhite;
  animation-name: top;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(2) {
  animation-name: middle;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(3) {
  background-color: ghostwhite;
  animation-name: bottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

nav {
  opacity: 0;
  transition-duration: 1s;
}

.hamburger:hover ~ nav {
  opacity: 1;
}

@keyframes top {
  from {
    transform: none;
  }
  to {
    transform: rotate(45deg) translateX(21px) translateY(23px);
  }
}

@keyframes middle {
  from {
    transition: none;
  }
  to {
    transition: 7s ease ease-out;
    opacity: 0%;
  }
}

@keyframes bottom {
  from {
    transition: none;
  }
  to {
    transform: rotate(-45deg) translateX(25px) translateY(-24px);
  }
}
